
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(277, 100%, 33%);
  --first-color-alt: hsl(277, 100%, 20%);
  --title-color: hsl(326, 100%, 45%);
  --text-color: #FFF;
  --body-color: hsl(284, 100%, 10%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: Arial, sans-serif;
  --biggest-font-size: 2.25rem;
  --normal-font-size: .938rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  position: relative;
  width: 75px;
  height: 75px;
  margin-top: 2rem;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-toggle,
.nav-close {
  display: inline-flex;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    background-color: var(--body-color);
    top: 5px;
    right: -100%;
    box-shadow: 0 8px 24px hsla(2, 100%, 45%, .28);
    width: 27%;
    height: 50vh;
    padding: 2rem 0;
    border-radius: 1.5rem;
    z-index: 100;
    transition: .4s;
  }

  .nav-list {
    flex-direction: column;
    margin-top: 2rem;
  }
}

.nav-list {
  display: flex;
  text-align: center;
  gap: 2rem;
}

.nav-link {
  color: var(--title-color);
  font-size: 1.1rem;
  font-weight: 600;
  transition: color .4s;
}

.nav-link:hover {
  color: var(--text-color);
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/*=============== HOME ===============*/
.home,
.home-container {
  position: relative;
}

.home-container {
  height: 100vh;
  padding-top: 8rem;
  display: grid;
  row-gap: 1rem;
}

.home-title {
  font-size: var(--biggest-font-size);
  color: var(--title-color);
  margin-bottom: .75rem;
}

.home-description,
.home-button {
  font-weight: 600;
}

.home-description {
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.home-button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--text-color);
  padding: .8rem 1.8rem;
  border-radius: .5rem;
  box-shadow: 0 8px 20px hsla(2, 100%, 45%, .28);
  transition: background .4s ease-in-out;
  margin-top: .9rem;
}

.home-button:hover {
  background: var(--title-color);
}

.home-button img {
  position: absolute;
  inset: 0;
  margin: auto;
  pointer-events: none;
  transition: .6s;
  opacity: 0;
}

.button1 {
  width: 70px;
  transform: translate(-25px, -6px) rotate(55deg);
  filter: blur(.1px);
}

.button2 {
  width: 70px;
  transform: translate(-25px, -20px) rotate(40deg);
  filter: blur(.4px);
}

.home-button:hover img {
  opacity: 1;
}

.home-button:hover .button1 {
  transform: translate(-70px, 45px) scale(1.2);
}

.home-button:hover .button2 {
  transform: translate(90px, -18px) scale(1.1);
}

.home-img {
  position: relative;
  width: 325px;
  height: 378px;
  max-width: initial;
  justify-self: center;
  margin-top: .5rem;
  animation: headphones 4s ease-in-out infinite;
}

.home-img img {
  position: absolute;
}

/* Animation juice */
@keyframes headphones {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 330px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home-img img {
    width: 100px;
    height: 150px;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav-toggle,
  .nav-close {
    display: none;
  }

  .nav-list {
    column-gap: 3rem;
  }

  .home-container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    padding-top: 4rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home-data {
    margin-right: 1rem;
   }

  .home-img {
    width: 400px;
    height: 460px;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
